<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5449000000996</key>
	<dict>
		<key>productName</key>
		<string>Coke</string>
		<key>imageUrl</key>
		<string>https://unsplash.com/photos/nWCmjC7dmdo</string>
		<key>price</key>
		<string>₹ 40</string>
	</dict>
	<key>8908000420748</key>
	<dict>
		<key>productName</key>
		<string>Vinegar</string>
		<key>imageUrl</key>
		<string>https://unsplash.com/photos/nWCmjC7dmdo</string>
		<key>price</key>
		<string>₹ 80</string>
	</dict>
	<key>8901571006885</key>
	<dict>
		<key>productName</key>
		<string>Eno</string>
		<key>imageUrl</key>
		<string>https://unsplash.com/photos/nWCmjC7dmdo</string>
		<key>price</key>
		<string>₹ 5</string>
	</dict>
</dict>
</plist>
